body
{
    background-color: #eaf3fb;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar
{
    background-color: #6C4AB6;
}

.navbar-brand
{
    font-weight: bold;
    color: white;
    font-size: 30px;
    
}

.title
{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: #474E68;
}

.profile-picture
{
   display: block; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   height: 100px;
   width: 100px;
   border-radius: 15px;
   box-shadow: 2px 2px #404258;
}

.card
{
    background-color: #ffffff;
    margin: 20px auto;
    width: 60%;
    height:50px;
    text-align: center;
    justify-content: center;
    box-shadow: 2px 2px;
    font-weight: bold;
    font-size: 18px;
    color: #404258;
    
}

a
{
    text-decoration: none;
    color: white;
}

.links
{
    background-color: #7559b1;
    width: 40%;
    margin: 30px auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.card:hover
{
    cursor: pointer;
    width: 62%;
    transition: 500ms;
    color: #6C4AB6;
    box-shadow: 1px 1px black;
}

.footer
{
    background-color: #6C4AB6;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.contact
{
    justify-content: center;
    text-align: right;
    padding-top: 10px;
    padding-right: 7px;
}

a:hover
{
    color: black;
}

@media only screen and (max-width: 600px){
    .links{
        width: 80%;
        margin-top: 15%;
    }
    .card{
        font-size: 15px;
    }

    .profile-picture
   {
   display: block; 
   margin-left: auto;
   margin-right: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   height: 80px;
   width: 80px;
   border-radius: 15px;
   box-shadow: 2px 2px #404258;
  }
}